.myPage, .myPage div, .myPage span, .userEdit, .deletePage{
    font-family: 'MapoPeacefull';
}
#myPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.myPColor{
   background-color: #CAFFBE;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myPTitle{
    margin-top: 2rem;
    font-weight: bold;
    font-size: x-large;
}

.myPUser{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    width: 17rem;
    height: 9rem;
    border-radius: 30px;
    background-color: white;
    padding: 1.5rem 1rem 1.5rem 1rem;
    text-align: center;
}

.myPUserText{
    font-size: x-large;
}

.myPEdit{
    cursor:pointer;
}

.myPEdit:hover{
    font-weight: bold;
}

.myPContent{
    border: 1px solid black;
    width: 50rem;
}

.myPAlertBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*위 오른쪽 아래 왼쪽*/
    margin: 1rem 0 0 1rem;
}

.myPIcon{
    height: 2rem !important;
    width: 1.5rem !important;
    margin-right: 0.2rem;
}

/* 경기 전적, 페어플레이 점수, 거래 내역 제목 */
.matchHistory, .fairPlay, .transactionHistory, .bookMark {
    margin: 2rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* 경기 전적, 거래 내역 map 함수 받아주는 박스 */
.matchHistoryBox, .transactionHistoryBox, bookMarkBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

/* 경기 전적, 거래 내역 map함수 */
.gameItem {
    width: 8rem;
    height: 6rem;
    box-shadow: 6px 6px 5px #bdbaba;
    margin-right: 4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #d5d4d4;
}

.transactionItem{
    width: 9rem;
    height: 6rem;
    box-shadow: 6px 6px 5px #bdbaba;
    margin-right: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #d5d4d4;
}

.gameName {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*justify-content: space-around;*/
    margin-left: 0.5rem;
}

.transactionTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.matchHistoryName, .transactionHistoryTitle{
    font-weight: bold;
}

.gameIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 100% !important;*/
    /*height: 100% !important*/
}

.matchRecord span, .transactionSeller span{
    font-size: smaller;
}

/* 페어플레이 점수 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-container {
    margin-top: 0.5rem;
    width: 80%;
    height: 20px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

.bar {
    height: 100%;
    background-color: #4caf50;
    width: 0%;
    transition: width 0.5s;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

/* 내가 쓴 글, 댓글 */
.myWriteAndComm {
    margin: 2rem 0 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.line {
    font-weight: 900;
}

.writeItem, .commentItem {
    /*위 오른쪽 아래 왼쪽*/
    margin: 1rem 0 0 1rem;
}

/* 내가 쓴 글, 댓글 */
.writeTableBox, .commentTableBox, .bookMarkTableBox {
    width: 43rem;
}


/* 북마크 내역 */
.bookMarkList {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

/* 회원정보 수정 페이지*/
.userEdit, .deletePage{
    /*위 오른쪽 아래 왼쪽*/
    margin: 8rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editBox, .deleteBox{
    margin-top: 2rem;
}

.editTitle, .deleteTitle{
    font-weight: bold;
    font-size: large;
    width: 10rem;
    text-align: left;
}

.editContent, .deleteContent{
    width: 15rem;
}

.editTable tr, .deleteTable tr{
    height: 4rem;
}

.editTable input, .deleteTable input{
    width: 15rem;
    border: 2px solid #CAFFBE;
    border-radius: 10px;
}

.editTable input:focus, .deleteTable input:focus{
    outline: none;
}

.nickCK{
    margin-left: 0.5rem;
    border: 1px solid #CAFFBE;
    border-radius: 10px;
    background-color: #CAFFBE;
}

.message{
    font-size: small;
    color: lightslategray;
}

.editSubmit, .deleteSubmit{
    margin-top: 2rem;
    width: 25rem;
    height: 3rem;
    border: 1px solid #CAFFBE;
    border-radius: 10px;
    background-color: #CAFFBE;
}

/*회원 탈퇴 글씨*/
.userDelete{
    width: 4rem;
    margin-left: 65rem;
    color: #a0a1a2;
    cursor:pointer
}